@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

div.App {
    /*background-color: #8F50FB;*/
    height: 100vh;
    width: 100vw;
    font-family: 'Playfair Display';
}