.main-div {
  min-height: 80vh;
  padding: 5% 0 0 0;
}

.main-div .card-title-div {
  display: flex;
  height: 100%;
  width: 37%;
  background-color: #f4f4f4;
  margin: auto;
  border-radius: 25px 25px 0px 0px;
}

.main-div .card-title-div .card-title {
  font-size: 40px;
  padding: 4% 0 1% 4%;
}

.main-div .card-title-div .card-description {
  font-size: 20px;
  padding: 0% 0 1% 4%;
}

.main-div .card-div-body {
  font-size: 30px;
  display: flex;
  min-height: 80vh;
  background-color: #fffeff;
  border-radius: 25px 25px 0px 0px;
  box-shadow: 0px -4px 15px 1px rgba(0, 0, 0, 0.18);
  text-align: center;
}

.main-div .card-title-div .home-btn {
  float: right;
  margin-right: 30px;
  margin-top: 5px;
  width: 34px;
  height: 34px;
}
