#form-group-style {
  width: 50%;
  margin: 25% auto 3% auto;
}

.main-div .login-label {
  font-size: 24px;
  margin-top: 5%;
  float: left;
}

.main-div #email-box[type='email'] {
  background-color: #edf7fb;
  border-color: #edf7fb;
  outline: none;
  box-shadow: none;
  border-radius: 20px;
  font-size: 20px;
}

.main-div #pw-box[type='password'] {
  background-color: #edf7fb;
  border-color: #edf7fb;
  outline: none;
  box-shadow: none;
  border-radius: 20px;
  font-size: 20px;
}

.main-div .password-group {
  position: relative;
}

.main-div #pw-box[type='password']:focus {
  z-index: 0;
}

#enter-btn {
  padding: 10px 16px;
  border-radius: 90px;
  position: absolute;
  right: -20px;
  bottom: -40px;
  font-size: 27px;
  box-shadow: 0px 10px 15px 1px rgba(0, 0, 0, 0.329);
  letter-spacing: -1px;
  text-decoration: none;
  background-color: #0d6efd;
  color: white;
}

#sign-up {
  font-size: 24px;
  margin-top: 5%;
  color: #0d6efd;
  text-decoration: underline;
  background-color: transparent;
  border-style: none;
  box-shadow: none;
}

#incorrectMessage {
  margin-top: 3%;
  font-size: 20px;
  color: red;
}

#popover-basic {
  background-color: #edf7fb;
  border-style: none;
}

#pop-body {
  font-family: 'Playfair Display';
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
