<persistence>
    <persistence-unit name="Eclipselink_JPA" transaction-type="RESOURCE_LOCAL">
        <properties>
            <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/polldb"/>
            <property name="javax.persistence.jdbc.user" value="soen"/>
            <property name="javax.persistence.jdbc.password" value="387"/>
            <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
        </properties>
    </persistence-unit>
</persistence>
