.main-div .form-style {
  margin: 8% 10% 8% 10%;
}

.main-div {
  height: unset;
}

.main-div .group-style {
  margin-top: 5%;
  margin-bottom: 5%;
}

.main-div .label-style {
  text-align: start;
  font-weight: bold;
  font-size: 20px;
}

.main-div .text-box[type='text'] {
  background-color: #edf7fb;
  border-color: #edf7fb;
  outline: none;
  box-shadow: none;
  border-radius: 20px;
  margin-top: 5px;
  width: 90%;
  float: right;
  font-size: 18px;
}

.main-div #text-area-style {
  background-color: #edf7fb;
  border-color: #edf7fb;
  outline: none;
  box-shadow: none;
  border-radius: 20px;
  margin-top: 5px;
  width: 90%;
  float: right;
  font-size: 18px;
}

.main-div #add-style {
  background-color: transparent;
  border-style: none;
  color: black;
  float: left;
  box-shadow: none;
  margin-left: 0;
  padding-left: 0;
  font-size: 20px;
}

.main-div #create-btn {
  padding: 10px 16px;
  border-radius: 90px;
  position: absolute;
  right: -30px;
  bottom: 30px;
  font-size: 27px;
  box-shadow: 0px 10px 15px 1px rgba(0, 0, 0, 0.329);
  letter-spacing: -1px;
}

.main-div .group-style .delete-btn {
  border: none;
  background-color: unset;
  color: black;
  margin-left: 10px;
}
.main-div .group-style .choice {
  display: flex;
}

.main-div .group-style .inner {
  display: inline-block;
}

.main-div .group-style .name {
  width: 150px;
  margin-right: 10px;
}

.main-div .group-style .description {
  width: 240px;
}
