.main-div .group-style .delete-btn {
  border: none;
  background-color: unset;
  color: black;
  margin-left: 10px;
}

.main-div .group-style .delete-btn:focus {
  border: none;
  outline: 0;
}

.main-div .group-style .choice {
  display: flex;
}

.main-div .group-style .inner {
  display: inline-block;
}

.main-div .group-style .name {
  width: 150px;
  margin-right: 10px;
}

.main-div .group-style .description {
  width: 240px;
}
