.description {
  font-size: 32px;
  margin-top: 30%;
  margin-bottom: 3%;
}

.card-div-body .role-btn {
  background-color: #edf7fb;
  border-color: #edf7fb;
  color: black;
  font-size: 22px;
  margin: 2%;
  width: 20%;
  border-radius: 25px;
  padding: 2% 5%;
  text-decoration: none;
}

.card-div-body .role-btn:hover {
  background-color: #c7efff;
}
