.description {
  font-size: 32px;
  margin-top: 30%;
  margin-bottom: 3%;
}

.role-btn {
  background-color: #edf7fb !important;
  border-color: #edf7fb !important;
  color: black !important;
  font-size: 22px !important;
  margin: 2%;
  width: 20% !important;
  border-radius: 25px !important;
  padding: 2% 5%;
  text-decoration: none;
}

.role-btn:hover {
  background-color: #c7efff !important;
}
