.main-div .card-div-body {
  position: relative;
}
.poll-main-div {
  margin: 40px 0px 0px 30px;
  min-width: 40%;
}
.main-div .card-div-body .polls-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-div-body .create-button {
  position: absolute;
  border-radius: 30px;
  max-width: 150px;
  right: 20px;
  top: -10px;
}
