.main-div.poll-list {
  /* height: unset; */
}

.main-div .card-div-body {
  /* height: unset; */
  position: relative;
}
.card-div-body .btn-1 {
  padding: 10px 16px;
  border-radius: 90px;
  position: absolute;
  font-size: 27px;
  box-shadow: 0px 10px 15px 1px rgba(0, 0, 0, 0.329);
  letter-spacing: -1px;
}
.card-div-body .edit {
  right: 70px;
  bottom: 30px;
  background-color: #0d6efd;
  color: white;
  text-decoration: none;
}

.card-div-body .edit:hover {
  background-color: #0655cc;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition-property: color, background-color, border-color, box-shadow;
  transition-duration: 0.15s, 0.15s, 0.15s, 0.15s;
  transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
  transition-delay: 0s, 0s, 0s, 0s;
}

.card-div-body .run {
  right: -50px;
  bottom: 30px;
}

.card-div-body .clear {
  right: 155px;
  bottom: 30px;
}

.main-div .details-style {
  font-size: 20px;
  margin-top: 5px;
}

.main-div .choice-name {
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.main-div .choice-description {
  font-size: 20px;
  margin-left: -5px;
  padding: 0;
}

.poll-main-div {
  margin: 40px 0px 0px 25px;
  min-width: 40%;
}
.main-div .card-div-body .polls-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-div-body .create-button {
  position: absolute;
  border-radius: 30px;
  max-width: 150px;
  right: 20px;
  top: -10px;
}
