.card-div-body .inner button {
  font-size: 14px;
  display: inline-block;
  margin-right: 10px;
}

.card-div-body .outer {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.card-div-body button:focus {
  box-shadow: none;
}

.card-div-body .btn-1.download {
  right: -58px;
  background-color: #0d6efd;
  text-decoration: none;
  color: white;
}

.card-div-body .btn-1.download:hover {
  background-color: #0655cc;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition-property: color, background-color, border-color, box-shadow;
  transition-duration: 0.15s, 0.15s, 0.15s, 0.15s;
  transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
  transition-delay: 0s, 0s, 0s, 0s;
}

.card-div-body .btn-1.clear {
  right: 188px;
}

.card-div-body .btn-1.unrelease {
  right: 285px;
}
