.poll-main-div {
  font-size: 20px;
  border-radius: 30px;
  background-color: #edf7fb;
  padding: 20px;
  text-align: left;
  border: 3px #1f70fb00 solid;
  position: relative;
}

.poll-main-div:hover {
  box-sizing: border-box;
  border: 3px #1f6ffb solid;
  cursor: pointer;
}

.poll-main-div .delete-button {
  position: absolute;
  font-size: 24px;
  border-radius: 30px;
  width: 40px;
  height: 20px;
  right: 0;
  top: -10px;
}
